body {
  padding: 10px;
  font-family: sans-serif;
}

.texto {
  margin-top: 3rem;
  width: 45%;
  display: inline-block;
  margin-left: 30%;
  font-size: 1.4rem;
}

#welcome {
  margin-top: 3%;   
}


a {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
}

#containerSignedIn button {
  margin: 1rem;
}

.leaderboard {
  margin-left: 1rem;
}
.leaderboard 
h3,
h2,
h1 {
  margin-left: 0rem;
}
#text-center button {
  margin-right: 2rem;
}

.salir {
  margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
}
.form button {
  margin-left: 0.5rem;
}
body {
  font-family: 'Roboto', sans-serif;
}
body 
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fjalla One', sans-serif;
  margin-left: 1rem;
  margin-top: 1rem;
}
#navbar-brand {
  font-family: 'Fjalla One', sans-serif;
}

.bienvenida {
  margin-left: 1rem;
}
.bienvenida 
h1 {
  margin-left: 0rem;
}
form {
  margin-left: 1rem;
}
.dudar, .comenzar {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.col h2 {
  margin-top: 2rem;
}
.info h5, h6 {
  display: inline-block;
}
h6 {
  font-size: 1.3rem;
}