body {
  padding: 10px;
  font-family: sans-serif;
}

.texto {
  margin-top: 3rem;
  width: 45%;
  display: inline-block;
  margin-left: 30%;
  font-size: 1.4rem;
}

#welcome {
  margin-top: 3%;   
}

button {
  margin: 1%;
}
a {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
}

#containerSignedIn button {
  margin: 1rem;
}

.leaderboard {
  margin-left: 1rem;
}
#text-center button {
  margin-right: 2rem;
}

.salir {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.form button {
  margin-left: 0.5rem;
}